/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: rgba(253,246,228, 1);
  --global-code-bg-color: rgba(253,246,228, 1);
  --global-text-color: rgb(77, 120, 136);
  --global-text-color-light: rgba(42,166,215, 1);
  --global-theme-color: rgba(0,213,145, 1);
  --global-hover-color: rgba(0,213,145, 1);
  --global-footer-bg-color: rgb(243, 234, 205); 
  --global-footer-text-color: rgb(77, 120, 136);
  --global-footer-link-color: rgba(42,166,215, 1);
  --global-distill-app-color: rgb(77, 120, 136);
  --global-divider-color: rgba(253,246,228, .1);
  --global-card-bg-color: rgb(243, 234, 205);

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: rgba(0,43,54, 1);
  --global-code-bg-color: rgba(0,43,54, 1);
  --global-text-color: rgba(42,166,215, 1);
  --global-text-color-light: rgba(164, 216, 236, 1);
  --global-theme-color: rgba(0,213,145, 1);
  --global-hover-color: rgba(0,213,145, 1);
  --global-footer-bg-color: rgb(0, 27, 34);
  --global-footer-text-color: rgba(42,166,215, 1);
  --global-footer-link-color: rgba(164, 216, 236, 1);
  --global-distill-app-color: rgba(164, 216, 236, 1);
  --global-divider-color: rgba(0,43,54, .1);
  --global-card-bg-color: rgb(0, 27, 34);

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
